<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Angular Test</a>
    <form class="form-inline">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log Out</button>
    </form>
  </nav>
<div class="container-fluid">
  <div class="row" >
    <div class="col-xs">
      <app-feed-filter></app-feed-filter>
    </div>
    <div class="col-sm-9">
        <app-post></app-post>
        <app-post></app-post>
        <app-post></app-post>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
