<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Angular Test</a>
    <form class="form-inline">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit" (click)="closeSession()">Log Out</button>
    </form>
  </nav>
<div class="container-fluid">
  <div class="row" >
    <div class="col-xs">
      <app-feed-filter (filterChanged)="filterChanged($event)"></app-feed-filter>
      <app-create-post (postChanged)="postChangedHandler($event)"></app-create-post>
    </div>
    <div class="col-sm-9">
      <div *ngFor="let post of posts">
          <app-post [post]="post"></app-post>
      </div>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>
